* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */

}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* flex-direction: row; */
}

#box1 {
  display: flex;
  height: 100vh;
  width: 55%;
  background-position: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}

#box2 {
  height: 100vh;
  width: 45%;
  background-color: #222831;

}

#box4 {
  border: 2px solid white;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -300px;
}

i {
  color: #ffd369;


}

.box4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
}

#i2 {
  margin-left: 20px;
}

#i3 {
  margin-left: 20px;
}

#i4 {
  margin-left: 30px;
}

.b1 {
  background-color: black;
  height: 100px;
  width: 100px;
  margin-left: 580px;
  border-radius: 10px;
}

.b2 {
  background-color: black;
  height: 100px;
  width: 100px;
  margin-left: 2px;
  border-radius: 10px;

}

.b3 {
  background-color: black;
  height: 100px;
  width: 100px;
  margin-left: 2px;
  border-radius: 10px;
}

.b4 {
  background-color: black;
  height: 100px;
  width: 100px;
  margin-left: 2px;
  border-radius: 10px;
  margin-right: 5px;
}

#i2 {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  transition: transform 0.4s ease, color 0.4s ease;
}

#i1 {
  display: inline-block;
  padding-top: 5px;
  padding-left: 30px;
  transition: transform 0.4s ease, color 0.4s ease;
}

#i3 {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  transition: transform 0.4s ease, color 0.4s ease;
}

#i4 {
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
  transition: transform 0.4s ease, color 0.4s ease;
}

p {
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  transition: transform 0.4s ease, color 0.4s ease;
}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover {
  background-color: rgb(40, 36, 36);
  box-shadow: 0 0 20px rgba(148, 187, 233, 0.7), 0 0 40px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
  color: black;
  cursor: pointer;
}

h1 {
  margin-right: 0;
  color: white;
  margin-left: 200px;
  margin-top: -160px;
  font-family: 'Orbitron', sans-serif;
  white-space: nowrap;
  /* prevents wrapping */
  overflow: hidden;
  /* hides the text outside */
  border-right: 3px solid #ffd369;
  /* the cursor line */
  width: 100;
  /* start hidden */
  animation:
    typing 4s steps(40, end) forwards,
    blinkCursor 0.75s infinite;
  /* center and spacing */
  text-align: center;

}



.box4 {
  margin-top: 30px;
}

h2 {
  color: white;
  margin-left: 580px;
  margin-top: 30px;
  font-family: 'Cinzel Decorative', serif;
}

.container4 {
  margin-top: -200px;
  margin-left: 30px;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /* space between icons and search bar */
  margin-left: 500px;
}

.search-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-box input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px;
  box-shadow: 0 0 20px rgba(148, 187, 233, 0.7), 0 0 40px rgba(0, 0, 0, 0.6);
}

.search-box button {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #ffd369;
  color: #222;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.search-box button:hover {
  background-color: #ffb300;
  transform: scale(1.05);
}

#city {
  width: 200px;
}

h2 {
  animation-delay: 1s;
  font-family: "Rajdhani", sans-serif;
}

@keyframes slideGlow {
  0% {
    opacity: 0;
    transform: translateY(30px);
    text-shadow: none;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    text-shadow: 0 0 10px #ffd369, 0 0 20px #ffea00, 0 0 30px #ffd369;
    color: #ffd369;
  }
}

